{% load blog %}
{% popular_tags_list as popular_tags_list %}
<div class="well">
  <h4><i class="fa fa-tags"></i> Popular Tags:</h4>
  <div class="row">
    <div class="col-lg-6">
<!--      <ul class="list-unstyled">-->

<!--        <li><a href=""><span class="badge badge-info"></span></a></li>-->
<!--       {% for tag in article.tags %}-->
<!--        {{ tag.name }}-->
<!--      {% endfor %}-->
<!--      </ul>-->
<!--      <ul class="links">-->

        {% for tag in popular_tags_list %}
    <div>
      <div style="float: left; width: 39%;">
      <div style="float: right; width: 19%;">
        <li><a href="#">{{ tag }}</a></li>
      </div>
      </div>

    </div>
        {% endfor %}

<!--</ul>-->
    </div>
  </div>
</div>
<!--        <li><a href=""><span class="badge badge-info">Windows 8</span></a>-->
<!--        </li>-->
<!--        <li><a href=""><span class="badge badge-info">C#</span></a>-->
<!--        </li>-->
<!--        <li><a href=""><span class="badge badge-info">Windows Forms</span></a>-->
<!--        </li>-->
<!--        <li><a href=""><span class="badge badge-info">WPF</span></a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->


<!--    <div class="col-lg-6">-->
<!--      <ul class="list-unstyled">-->
<!--        <li><a href=""><span class="badge badge-info">Bootstrap</span></a>-->
<!--        </li>-->
<!--        <li><a href=""><span class="badge badge-info">Joomla!</span></a>-->
<!--        </li>-->
<!--        <li><a href=""><span class="badge badge-info">CMS</span></a>-->
<!--        </li>-->
<!--        <li><a href=""><span class="badge badge-info">Java</span></a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
